// placeholder for test, dont't remove it.

//.content {
//  font-size 30px;
//}

.navbar
  background-color: transparent !important;
  border: none !important;

.sidebar
  border: none !important;
  // box-shadow: rgba(0,21,64,.14) 0 2px 6px;

.sidebar-button
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(0,21,64,.14) 0 2px 6px,rgba(0,21,64,.05) 0 10px 20px;

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

